<header>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{ user?.name }}</h2>
            </mat-card-title>
            <span class="spacer"></span>
            <button mat-button routerLink="/users" color="accent">< Back</button>
        </mat-card-header>
    </mat-card>
</header>

<section>
    <mat-card>
        <h4>User's Posts</h4>
        <app-posts [posts]="user?.posts" (selectionChanged)="onPostSelected($event)"></app-posts>
        <span class="spacer"></span>
    </mat-card>

    <span class="spacer"></span>

    <mat-card>
        <h4>Post</h4>
        <app-post [post]="selectedPost"></app-post>
        <span class="spacer"></span>
    </mat-card>
</section>
