:host {
    padding: 16px;
    display: block;
}
header {
    margin-bottom: 16px;
}
section {
    display: flex;
    justify-content: space-between;
}
.spacer {
    flex: 1 0 16px;
}
section > mat-card {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}
h4 {
    background-color: #fce4ec;
    padding: 16px;
}
