<header>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{ user?.name }}</h2>
            </mat-card-title>
            <mat-card-subtitle>
                <h2>{{ user?.email }}</h2>
            </mat-card-subtitle>
            <span class="spacer"></span>
            <button mat-button routerLink="/users" color="accent">< Back</button>
        </mat-card-header>
    </mat-card>
</header>

<section>
    <mat-card>
        <app-header-toolbar>
            <strong title>User's Posts</strong>
        </app-header-toolbar>
        <app-posts [posts]="user?.posts" (selectionChanged)="onPostSelected($event)"></app-posts>
    </mat-card>

    <span class="spacer"></span>

    <mat-card>
        <app-header-toolbar>
            <strong title>Post</strong>
        </app-header-toolbar>
        <app-post [post]="selectedPost" (saveNewComment)="onSaveNewComment($event)"></app-post>
        <span class="spacer"></span>
    </mat-card>
</section>
