<mat-nav-list>
    <h3 mat-subheader>Users</h3>
    <a mat-list-item *ngFor="let user of users$ | async" [routerLink]="[user.id]">
        <div>
            <strong matLine>{{ user.name }}</strong>
            <small matLine>{{ user.email }}</small>
        </div>

        <span class="spacer"></span>

        <div class="stats">
            <strong matLine>{{ user.posts.length }}</strong>
            <small matLine>Posts</small>
        </div>

        <mat-divider></mat-divider>
    </a>
</mat-nav-list>
