<div class="container">
    <mat-card class="card-rest">

        <app-header-toolbar>
            <strong title>Users list by REST API</strong>
            <button buttons mat-button color="accent" (click)="loadUsersRest()">LOAD USING REST API</button>
        </app-header-toolbar>

        <mat-card-content>
            <app-users-list [users]="restUsers"></app-users-list>
            <app-view-stats *ngIf="restUsers" [viewName]="'users-page'" [isGraphQL]="false"></app-view-stats>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-graphql">
        <app-header-toolbar>
            <strong title>Users list by GraphQL</strong>
            <button buttons mat-button color="accent" (click)="loadUsersGraphQL()">LOAD USING GRAPHQL</button>
        </app-header-toolbar>

        <mat-card-content>
            <app-users-list [users]="graphqlUsers"></app-users-list>
            <app-view-stats *ngIf="graphqlUsers" [viewName]="'users-page'" [isGraphQL]="true"></app-view-stats>
        </mat-card-content>
    </mat-card>
</div>
