<mat-nav-list>
    <a mat-list-item *ngFor="let user of users" [routerLink]="[user.id]">
        <div>
            <strong matLine>{{ user.name }}</strong>
            <small matLine>{{ user.email }}</small>
        </div>

        <span class="spacer"></span>

        <div class="posts-count">
            <strong matLine>{{ user.todos?.length }}</strong>
            <small matLine>To Dos</small>
        </div>
        <div class="posts-count">
            <strong matLine>{{ user.posts?.length }}</strong>
            <small matLine>Posts</small>
        </div>

        <mat-divider></mat-divider>
    </a>
</mat-nav-list>
