:host {
    display: flex;
    justify-content: space-around;
    background: #3748AC;
    padding: 16px;
    height: 36px;
}
.cell {
    display: flex;
    flex-direction: column;
    color: #fff;
}
