<div class="cell">
    <span>View</span>
    <strong>{{ statsInfo?.name }}</strong>
</div>
<div class="cell">
    <span>Requests</span>
    <strong>{{ statsInfo?.requests.length }}</strong>
</div>
<div class="cell">
    <span>Size</span>
    <strong>{{ statsInfo?.size / 1000 }}kb</strong>
</div>
<div class="cell">
    <span>Time</span>
    <strong>{{ statsInfo?.elapsedTime }}ms</strong>
</div>
<div class="cell">
    <button mat-raised-button (click)="showResponseData()" color="accent">Show Data</button>
</div>
