<div class="cell">
    <small>View</small>
    <span>{{ statsInfo?.name }}</span>
</div>
<div class="cell">
    <small>Requests</small>
    <span>{{ statsInfo?.requests.length }}</span>
</div>
<div class="cell">
    <small>Size</small>
    <span>{{ statsInfo?.size / 1000 }}kb</span>
</div>
<div class="cell">
    <small>Time</small>
    <span>{{ statsInfo?.elapsedTime }}ms</span>
</div>
<div class="cell">
    <button mat-raised-button (click)="showResponseData()" color="accent">Show Data</button>
</div>
